streamlit
streamlit-webrtc
ultralytics
torch
torchvision
opencv-python
ollama
numpy
pvporcupine
face-recognition
easyocr
pyaudio
openai-whisper
sounddevice
scipy
mediapipe



gtts
pyttsx3 


